version: "3.8"

services:
  gx-water:
    build: water
    container_name: gx-water
    image: itzg/bungeecoord:latest
    ports:
      - '25565:25577'
    volumes:
      - GX_WATER_SERVER:/server
      - GX_WATER_CONFIG:/config
      - GX_WATER_PLUGINS:/plugins
    env_file: gx-water.env
    restart: unless-stopped
    networks:
      - GX_EVENT
  gx-lobby:
    build: spigot
    container_name: gx-lobby
    image: itzg/minecraft-server:latest
    volumes:
      - GX_LOBBY:/data
    env_file: gx-lobby.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-01:
    build: spigot
    container_name: gx-team-01
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_01:/data
    env_file: gx-team-01.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-02:
    build: spigot
    container_name: gx-team-02
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_02:/data
    env_file: gx-team-02.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-03:
    build: spigot
    container_name: gx-team-03
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_03:/data
    env_file: gx-team-03.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-04:
    build: spigot
    container_name: gx-team-04
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_04:/data
    env_file: gx-team-04.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-05:
    build: spigot
    container_name: gx-team-05
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_05:/data
    env_file: gx-team-05.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-06:
    build: spigot
    container_name: gx-team-06
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_06:/data
    env_file: gx-team-06.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-07:
    build: spigot
    container_name: gx-team-07
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_07:/data
    env_file: gx-team-07.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-08:
    build: spigot
    container_name: gx-team-08
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_08:/data
    env_file: gx-team-08.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-09:
    build: spigot
    container_name: gx-team-09
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_09:/data
    env_file: gx-team-09.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT
  gx-team-10:
    build: spigot
    container_name: gx-team-10
    image: itzg/minecraft-server:latest
    volumes:
      - GX_TEAM_10:/data
    env_file: gx-team-10.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - GX_EVENT

volumes:
  GX_WATER: { }
  GX_LOBBY: { }
  GX_TEAM_01: { }
  GX_TEAM_02: { }
  GX_TEAM_03: { }
  GX_TEAM_04: { }
  GX_TEAM_05: { }
  GX_TEAM_06: { }
  GX_TEAM_07: { }
  GX_TEAM_08: { }
  GX_TEAM_09: { }
  GX_TEAM_10: { }

networks:
  GX_EVENT:
    driver: bridge