version: "3.8"

services:
  gx_team_01:
    build: spigot/
    container_name: gx_team_01
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_01:/data
    env_file: gx_team_01.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - mc

volumes:
  TEAM_01: { }

networks:
  mc: