version: "3.8"

services:
  gx_team_10:
    build: spigot/
    container_name: gx_team_10
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_10:/data
    env_file: gx_team_10.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - mc

volumes:
  TEAM_10: { }

networks:
  mc: