version: "3.8"

services:
  gx_team_02:
    build: spigot/
    container_name: gx_team_02
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_02:/data
    env_file: gx_team_02.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - mc

volumes:
  TEAM_02: { }

networks:
  mc: