version: "3.8"

services:
  gx_team_03:
    build: spigot
    container_name: gx_team_03
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_03:/data
    env_file: gx_team_03.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - mc

volumes:
  TEAM_03: { }

networks:
  mc: