version: "3.8"

services:
  gx_team_04:
    build: spigot
    container_name: gx_team_04
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_04:/data
    env_file: gx_team_04.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event

volumes:
  TEAM_04: { }

networks:
  gx_event: