version: "3.8"

services:
  gx_water:
    build: water
    container_name: gx_water
    image: itzg/bungeecoord:latest
    ports:
      - '25565:25577'
    volumes:
      - WATER:/server
    env_file: gx_water.env
    restart: unless-stopped
    networks:
      - gx_event
  gx_lobby:
    build: spigot
    container_name: gx_lobby
    image: itzg/minecraft-server:latest
    volumes:
      - LOBBY:/data
    env_file: gx_lobby.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_01:
    build: spigot
    container_name: gx_team_01
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_01:/data
    env_file: gx_team_01.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_02:
    build: spigot
    container_name: gx_team_02
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_02:/data
    env_file: gx_team_02.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_03:
    build: spigot
    container_name: gx_team_03
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_03:/data
    env_file: gx_team_03.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_04:
    build: spigot
    container_name: gx_team_04
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_04:/data
    env_file: gx_team_04.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_05:
    build: spigot
    container_name: gx_team_05
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_05:/data
    env_file: gx_team_05.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_06:
    build: spigot
    container_name: gx_team_06
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_06:/data
    env_file: gx_team_06.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_07:
    build: spigot
    container_name: gx_team_07
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_07:/data
    env_file: gx_team_07.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_08:
    build: spigot
    container_name: gx_team_08
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_08:/data
    env_file: gx_team_08.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_09:
    build: spigot
    container_name: gx_team_09
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_09:/data
    env_file: gx_team_09.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event
  gx_team_10:
    build: spigot
    container_name: gx_team_10
    image: itzg/minecraft-server:latest
    volumes:
      - TEAM_10:/data
    env_file: gx_team_10.env
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - gx_event

volumes:
  WATER: { }
  LOBBY: { }
  TEAM_01: { }
  TEAM_02: { }
  TEAM_03: { }
  TEAM_04: { }
  TEAM_05: { }
  TEAM_06: { }
  TEAM_07: { }
  TEAM_08: { }
  TEAM_09: { }
  TEAM_10: { }

networks:
  gx_event:
    internal: true
    name: gx_event_mc
    driver: bridge
    attachable: false
    ipam:
      driver: default
      config:
        - subnet: "172.19.0.0/16"
        - gateway: "172.19.0.1"